.hero {
  min-height: 600px;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/img/vite-logo.png);
}
.container {
}
.title-hero {
  font-size: 32px;
  color: #ffffff;
}
